.home-header{
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1614400289_38-p-temnii-delovoi-fon-43.jpg") ;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 300px;
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top:60px ;

}
.cards-home{
    display: flex;
    margin: 50px 15%;
    gap: 40px;
    flex-wrap: wrap;
}
.header{
    display: flex;
    margin: 0 20% ;
    gap: 30px;
    height: 60px;
    align-items: center;
    justify-content: left;
}
.header a{
    text-decoration: none;
    color: black;
}
.header a:hover{
    font-size: 1.1rem;
    transition: 0.3s all;
}